{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vvveb">
    <!-- base href="/app/public/themes/default/" -->
    <base href="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vvveb default theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
    {% comment %}
    <link href="{% static 'homepage/css/bootstrap.css' %}" rel="stylesheet">
    <!-- link href="css/stylesheet.css" rel="stylesheet"-->
    {% endcomment %}
</head>

<body>
{% block content %}

{% endblock %}

{% block jsblock %}

{% endblock %}
</body>
</html>