{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        {% include 'homepage/navbar.html' %}

        <div class="content">

            <div class="container">
                <div class="thickline"></div>
            </div>

            {% comment %}
            <nav class="breadcrumb container">
                <a class="breadcrumb-item" href="#">Home</a>
                <a class="breadcrumb-item" href="#">Laptops</a>
                <a class="breadcrumb-item" href="#">Slim laptops</a>
                <span class="breadcrumb-item active">Sony Vaio</span>
            </nav>
            {% endcomment %}

            <article class="product-details container" data-component-product>

                <div class="row">

                    <!-- gallery and tabs column -->

                    <div class="col-md-8">

                        <div class="zoom-gallery row">

{#                            <ul class="list-unstyled product-gallery col-md-2">#}
{#                                <li class="list-item">#}
{#                                    <a href="img/products/1.jpg"><img src="{% static 'homepage/img/products/1.jpg' %}" class="img-fluid"></a>#}
{#                                </li>#}
{#                                <li class="list-item">#}
{#                                    <a href="img/products/2.jpg"><img src="{% static 'homepage/img/products/2.jpg' %}" class="img-fluid"></a>#}
{#                                </li>#}
{#                                <li class="list-item">#}
{#                                    <a href="img/products/3.jpg"><img src="{% static 'homepage/img/products/3.jpg' %}" class="img-fluid"></a>#}
{#                                </li>#}
{#                            </ul>#}

                            <div class="col-md-10">
                                <a href="#"><img src="{% static 'homepage/img/products/5.jpg' %}" class="img-fluid" data-image></a>
                            </div>

                        </div>


                    </div>

                    <!-- product name and add to cart -->

                    <div class="col-md-4">
                        <h1 class="product-heading" data-name>Sony Vaio Ubuntu Cosmic</h1>

                        <!-- product attributes -->
                        <ul class="list-unstyled text-muted">
                            <li>Brand: <span>Apple</span></li>
                            <li>SKU: <span>333</span></li>
                            <li>Stock: <span>In stock</span></li>
                        </ul>

                        <div class="old-price">
                            <span class="currency" data-currency>$</span> <span data-price>3.150.00</span>
                        </div>

                        <div class="price h3">
                            <span class="currency" data-currency>$</span> <span data-price>3.050.00</span>
                        </div>

                        <hr>

                        <div class="form-group row">
                            <label for="productQuantity" class="col-form-label col-4">Quantity</label>
                            <input id="productQuantity" class="col-8 form-control" type="number" name="quantity" min="1"
                                   max="5">
                        </div>

                        <button type="button" class="btn btn-primary btn-block btn-icon">
                            <i class="la la-cart-plus"></i> Thêm vào giỏ hàng
                        </button>

                        <button type="button" class="btn btn-outline-secondary btn-block  btn-icon">
                            <i class="la la-shopping-cart"></i> Mua ngay
                        </button>


{#                        <div class="btn-group mt-3" role="group">#}
{##}
{#                            <button type="button" class="btn  btn-link text-black-50 btn-sm" title="Wishlist">#}
{#                                <i class="la la-heart"></i> Wishlist#}
{#                            </button>#}
{##}
{#                            <button type="button" class="btn  btn-link text-black-50 btn-sm" title="Compare">#}
{#                                <i class="la la-exchange"></i> Compare#}
{#                            </button>#}
{##}
{#                        </div>#}

                    </div>

                </div>


                <div class="product-tabs clearfix" role="tabpanel">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-expanded="true">Mô tả</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab"
                             aria-expanded="true" data-description>
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                                helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu
                                banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
                                Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        </div>
                    </div>
                </div>


            </article><!-- product-details -->


        </div>
        {% include 'homepage/footer.html' %}
    </div>
{% endblock %}
{% block jsblock %}
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script>
        $('#product-tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

        $(document).ready(function () {
            $('.zoom-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                closeOnContentClick: false,
                closeBtnInside: false,
                mainClass: 'mfp-with-zoom mfp-img-mobile',
                image: {
                    verticalFit: true,
                    titleSrc: function (item) {
                        return item.el.attr('title') + ' &middot; <a class="image-source-link" href="' + item.el.attr('data-source') + '" target="_blank">image source</a>';
                    }
                },
                gallery: {
                    enabled: true
                },
                zoom: {
                    enabled: true,
                    duration: 300, // don't foget to change the duration also in CSS
                    opener: function (element) {
                        return element.find('img');
                    }
                }

            });
        });

        $('.owl-carousel').owlCarousel({
            loop: true,
            navRewind: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: ['<i class="la la-angle-left"></i>', '<i class="la la-angle-right"></i> '],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>

    <style>

        .image-source-link {
            color: #98C3D1;
        }

        .mfp-with-zoom .mfp-container,
        .mfp-with-zoom.mfp-bg {
            opacity: 0;
            -webkit-backface-visibility: hidden;
            /* ideally, transition speed should match zoom duration */
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }

        .mfp-with-zoom.mfp-ready .mfp-container {
            opacity: 1;
        }

        .mfp-with-zoom.mfp-ready.mfp-bg {
            opacity: 0.8;
        }

        .mfp-with-zoom.mfp-removing .mfp-container,
        .mfp-with-zoom.mfp-removing.mfp-bg {
            opacity: 0;
        }

    </style>
{% endblock %}
