{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        {% include 'homepage/navbar.html' %}

        <div class="content">

            <div class="container">
                <div class="thickline"></div>
            </div>

            <div class="container">


                <div class="row">
                    <div class="col-12">

                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="table-responsive">
                                <table class="table table-bordered" data-cart>
                                    <thead>
                                    <tr>
                                        <td class="text-center">Hình ảnh</td>
                                        <td class="text-left">Tên sản phẩm</td>
                                        <td class="text-left">Chủng loại</td>
                                        <td class="text-left">Số lượng</td>
                                        <td class="text-right">Giá bán</td>
                                        <td class="text-right">Tổng</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr data-product>
                                            <td class="text-center">
                                                <a href="https://demo.opencart.com/index.php?route=product/product&amp;product_id=40"
                                                   data-url>
                                                    <img style="height: 80px;" src="{{ product.image.url }} "
                                                         alt="iPhone" title="{{ product.title }}" data-img>
                                                </a>
                                            </td>
                                            <td class="text-left"><a
                                                    href="https://demo.opencart.com/index.php?route=product/product&amp;product_id=40"
                                                    data-name>{{ product.title }}</a>
                                                <span class="text-danger">***</span>
                                            </td>
                                            <td class="text-left">{{ product.category }}/td>
                                            <td class="text-left">
                                                <div class="input-group btn-block" style="max-width: 200px;">
                                                    <input type="text"
                                                           name="quantity[YToxOntzOjEwOiJwcm9kdWN0X2lkIjtpOjQwO30=]"
                                                           value="33" size="1" class="form-control">
                                                    <span class="input-group-btn">
				<button type="submit" data-toggle="tooltip" title="" class="btn btn-primary"
                        data-original-title="Update"><i class="la la-refresh"></i></button>
				<button type="button" data-toggle="tooltip" title="" class="btn btn-danger"
                        onclick="cart.remove('YToxOntzOjEwOiJwcm9kdWN0X2lkIjtpOjQwO30=');" data-original-title="Remove"><i
                        class="la la-times-circle"></i></button></span>
                                                </div>
                                            </td>
                                            <td class="text-right">{{ product.price }} VND</td>
                                            <td class="text-right">{{ product.sale_price }} VND</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>

                    </div>
                </div>


            </div>

        </div>

        {% include 'homepage/footer.html' %}
    </div>
{% endblock %}

{% block jsblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
        $('#product-tabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
    <!-- script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script -->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script -->
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{% static 'homepage/js/jquery.min.js' %}"></script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
{% endblock %}