{% extends 'homepage/base.html' %}

{% load static %}
{% block content %}
    <div class="page-container">
        {% include 'homepage/navbar.html' %}
        <div class="content">
            <div class="container products-tab-carousel">
                <div class="tab-content" id="nav-tabContent">
                    <!-- sản phẩm nổi bật -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                        <section class="container products clearfix">

                            <div class="owl-carousel owl-theme">
                                {% for product in products %}
                                    <div class="item" data-product>

                                        <article class="product">

                                            <a href="{{ product.get_absolute_url }}" data-url>
                                                <img src="{{ product.image.url }}" class="img-fluid" data-img>
                                            </a>

                                            <h3>
                                                <a href="" data-product-url data-name data-url>{{ item.title }}
                                                </a>
                                            </h3>

                                            <span class="description" data-product-description>
							Lorem ipsum
						</span>

                                            <div class="price-group">
                                                <div class="old-price">
                                                    <span class="currency" data-product-currency>$</span> <span
                                                        data-product-price>{{ product.price }}</span>
                                                </div>

                                                <div class="price">
                                                    <span class="currency" data-product-currency>$</span> <span
                                                        data-product-price>{{ product.sale_price }}</span>
                                                </div>
                                            </div>
                                            <form class="btn-block" action="/#{{ product.id }}" method="POST">
                                                {% csrf_token %}
                                                <input hidden type="text" name="product" value="{{ product.id }}"/>
                                                <input
                                                        type="submit"
                                                        class="float-right form-control btn btn-sm btn-secondary"
                                                        value="Thêm vào giỏ hàng"
                                                />
                                                {#                                                <a type="button" class="btn btn-sm btn-secondary" title="Add to Cart"#}
                                                {#                                                   data-product-cart-url data-vvveb-action="addCart" data-product_id=40>#}
                                                {#                                                    <i class="la la-shopping-cart"></i> Thêm vào giỏ hàng#}
                                                {#                                                </a>#}
                                            </form>


                                        </article><!-- product -->

                                    </div> <!-- col-md -->
                                {% endfor %}
                            </div><!-- row -->
                        </section> <!-- products -->
                    </div>
                    <!-- sản phẩm nổi bật -->
                </div>

            </div>

        </div>
        {% include 'homepage/footer.html' %}
    </div>

{% endblock %}
{% block jsblock %}

    {#        <div class="alert alert-light alert-dismissible fade alert-top" role="alert">#}
    {#            <div class="container">#}
    {##}
    {#                <div class="message">#}
    {#                    Product was added to cart.#}
    {#                </div>#}
    {##}
    {##}
    {#                <button type="button" class="close" aria-label="Close">#}
    {#                    <span aria-hidden="true">&times;</span>#}
    {#                </button>#}
    {#            </div>#}
    {#        </div>#}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script -->
    <script src="{% static 'homepage/js/jquery.min.js' %}"></script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            navRewind: true,
            margin: 10,
            nav: true,
            dots: false,
            navText: ['<i class="la la-angle-left"></i>', '<i class="la la-angle-right"></i> '],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
{% endblock %}

